/GestStock/build/
/GestStock/dist/
/GestStock/nbproject/private/
/MenuDemonstration/build/
/MenuDemonstration/nbproject/private/
/TestArduino/Arduino/build/
/TestArduino/Arduino/nbproject/private/
/testunitaire/build/
/testunitaire/nbproject/private/
/ApplicationWinCompte1/dist/
/Velov/nbproject/private/
/Velov2016/nbproject/private/