/GestStock/build/
/GestStock/dist/
/GestStock/nbproject/private/
/MenuDemonstration/build/
/MenuDemonstration/nbproject/private/
/TestArduino/Arduino/build/
/TestArduino/Arduino/nbproject/private/
/testunitaire/build/
/testunitaire/nbproject/private/
/ApplicationWinCompte1/dist/
/Velov/nbproject/private/
/Velov2016/nbproject/private/
/Velov2016/build/
/testbasedonnee/nbproject/private/
/testbasedonnee/build/
/essaibd/nbproject/private/
/essaibd/build/
/Velov2016/dist/
/Velov2016avecBaseDeDonnee/build/
/Velov2016avecBaseDeDonnee/dist/
/Velov2016avecBaseDeDonnee/nbproject/private/